<div class="container">
    <div class="cta-inner">
        <h2>
            Besides that I focus on playing PC GAMEs, message me if you are also
            interested in it.
        </h2>
        <a
            href="https://steamcommunity.com/profiles/76561198255877549/"
            class="default-btn"
            target="_blank"
            ><span>Message Me on Steam</span></a
        >
        <div class="shape9">
            <img src="assets/img/shape/r6-logo.png" alt="shape" />
        </div>
        <div class="shape10">
            <img src="assets/img/shape/apex-logo.png" alt="shape" />
        </div>
    </div>
</div>
