<!-- Start Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>News</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>News</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape5">
        <img src="assets/img/shape/shape5.png" alt="shape" />
    </div> -->
</div>

<!-- News -->
<div class="services-area ptb-100 bg-f5f8ff">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon1.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details"
                            >Progressive Web Apps (PWAs)</a
                        >
                    </h3>
                    <p>
                        Among our list of web development trends, the PWA
                        technology comes first. It’s an app that functions as a
                        website with a full-native mobile app experience. It
                        communicates with clients as a native app and runs
                        independently.<br /><br /><br />
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon2.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Voice Search</a>
                    </h3>
                    <p>
                        You cannot ignore the trend of voice search. We predict
                        to see its more impacts on the web in the upcoming
                        years. As per the Statista report, the global smart
                        speaker market will reach over 35.5 billion U.S. dollars
                        by 2025. The other study suggest that the voice
                        recognition market is expected to reach $27.16 billion
                        by 2026.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon3.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Motion UI</a>
                    </h3>
                    <p>
                        Creative web design is another web development trend
                        this year. Startups always focus more on user experience
                        and invest fewer resources in appearance. However, there
                        are more chance of getting notice by promising users if
                        you have a beautifully designed apps and websites.
                        Hence, visual design has become an effective marketing
                        strategy.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon4.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details"
                            >Robots learn household tasks by watching humans</a
                        >
                    </h3>
                    <p>
                        Researchers have developed a new learning method for
                        robots called WHIRL, short for In-the-Wild Human
                        Imitating Robot Learning. WHIRL is an efficient
                        algorithm for one-shot visual imitation. It can learn
                        directly from human-interaction videos and generalize
                        that information to new tasks, making robots well-suited
                        to learning household chores.<br /><br />
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon5.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details"
                            >Nvidia RTX 4090 GPU leak sparks both excitement and
                            disappointment</a
                        >
                    </h3>
                    <p>
                        Nvidia’s RTX 4090 graphics card, the incoming flagship
                        for the Lovelace generation, has witnessed its first
                        leaked benchmark which has provoked an interesting range
                        of responses. The 3DMark result provided by well-known
                        leaker Kopite7kimi on Twitter shows the purported
                        performance of the RTX 4090 in the Time Spy Extreme
                        test.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon6.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details"
                            >Dark Souls 3 multiplayer servers
                        </a>
                    </h3>
                    <p>
                        With From Software fans safely distracted by Elden Ring
                        multiplayer for the last few months, it’s easy to forget
                        that Dark Souls 3 multiplayer servers on PC still aren’t
                        back online. Bandai Namco is supposedly working on a PvP
                        fix, but now a new Dark Souls 3 update on Steam may give
                        some hope to fans.<br /><br /><br /><br />
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a
                            routerLink="/news"
                            class="previous page-numbers"
                            title="Next Page"
                            ><i class="lni lni-angle-double-left"></i
                        ></a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/news" class="page-numbers">2</a>
                        <a routerLink="/news" class="page-numbers">3</a>
                        <a
                            routerLink="/news"
                            class="next page-numbers"
                            title="Next Page"
                            ><i class="lni lni-angle-double-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape6">
        <img src="assets/img/shape/shape6.png" alt="shape" />
    </div> -->
</div>
