<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/about1.jpg" alt="about-image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2 style="text-transform: uppercase">
                        Learning Experience
                    </h2>
                    <p>
                        Bachelor in China | Master in Germany | Now working in
                        Germany
                    </p>
                    <ul class="features-list">
                        <li>
                            <img src="assets/img/about/icon1.png" alt="icon" />
                            <h3>University Jiangnan</h3>
                            <p>B.Sc. in Digitale Medientechnologien - 2.5</p>
                            <p>09.2010 - 07.2014 in Wuxi, China</p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon2.png" alt="icon" />
                            <h3>Hochschule Stralsund</h3>
                            <p>
                                M.Sc. in Informatik | Schwerpunkt :
                                Softwareentwicklung
                            </p>
                            <p>03.2017 - 09.2019 in Stralsund</p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon3.png" alt="icon" />
                            <h3>Hochschule Anhalt</h3>
                            <p>M.Sc. in Digitale Medientechnologien - 2.3</p>
                            <p>03.2020 - 09.2021 in Köthen</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div> -->
</div>
