<div class="team-area pt-100 bg-f5f8ff">
    <div class="container">
        <div class="section-title">
            <h2>Some of My Skills</h2>
            <p>
                I am a programmer dedicated to web development. Both front-end
                and back-end programming are my learning directions. After my
                graduation from university, I am working for Scheer PAS GmbH as
                a PAS Consultant.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill1.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Major <span> Digital Media Technology</span></h3>
                        <p>
                            Major of Bachelor and Master Degree: Digital Media
                            Technology
                        </p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill2.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Web <span>Developer</span></h3>
                        <p>
                            Focus on Front-End and Back-End both, for Example:
                            HTML5 | SCSS | JS | Node.JS
                        </p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill5.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Database <span>Developer</span></h3>
                        <p>
                            Learned about multiple databases: DB2 | MongoDB |
                            MySQL
                        </p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-more-box">
                    <a routerLink="/skills" class="default-btn"
                        ><span>View All Skills</span></a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div> -->
</div>
