<div class="features-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon7.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details"> Schools</a>
                    </h3>
                    <p>
                        China is where I was born and where I grew up. I spent
                        my childhood there and received primary and secondary
                        education in Hefei, the capital city of Anhui Province.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon8.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Bachelor Degree</a>
                    </h3>
                    <p>
                        After taking the Chinese college entrance examination, I
                        entered Jiangnan University in Wuxi. I did my bachelor's
                        degree here with a focus on digital media technology.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon9.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Master Degree</a>
                    </h3>
                    <p>
                        After graduating from my undergraduate degree I was
                        given the opportunity to fly to Germany. I got a
                        master's degree at Anhalt University of Applied
                        Sciences.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
