<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>About Me</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>About Me</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div> -->
</div>

<!-- About -->
<div class="about-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img
                        src="assets/img/operation-center.jpg"
                        alt="about-image"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>A Chinese living in Germany</h2>
                    <p>
                        Wentao | Male | Web Developer | Germany | China | Cats
                        Lover | Sports | E-Sports | Anime
                    </p>
                    <ul class="features-list">
                        <li>
                            <img src="assets/img/about/icon1.png" alt="icon" />
                            <h3>Was born in Hefei in 1991</h3>
                            <p>
                                A natural hub of communications, Hefei is
                                situated to the north of Chao Lake and stands on
                                a low saddle crossing the northeastern extension
                                of the Dabie Mountains, which forms the divide
                                between the Huai and Yangtze rivers.
                            </p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon2.png" alt="icon" />
                            <h3>Traveled to Wuxi in 2014</h3>
                            <p>
                                I traveled to Wuxi because I attended to
                                university there. I was studying digital media
                                technology at Jiangnan University.
                            </p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon3.png" alt="icon" />
                            <h3>Living in Germany since 2016</h3>
                            <p>
                                Finished master's studies in Germany, then
                                stayed here to work. I appreciate German
                                culture. In addition, like to study German and
                                European history.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div> -->
</div>

<!-- Funfacts
<app-funfacts></app-funfacts> -->

<!-- Team -->
<app-team></app-team>

<!-- Feedback -->
<app-feedback-style-one></app-feedback-style-one>

<!-- Web Security -->
<app-web-security-style-one></app-web-security-style-one>

<!-- Call to Action -->
<div class="cta-area ptb-100">
    <app-call-to-action></app-call-to-action>
</div>

<!-- Partner -->
<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>
