<div class="resources-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Latest News about Technologies or Anything else</h2>
            <p>
                The world of website development brings changes every single
                year and makes it challenging for us to survive in this digital
                era. Thereby, we need to keep pace with the web development
                trends to stay competitive. And to make our position more potent
                in this competitive digital market.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources1.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Web technologies</a
                        >
                        <h3>
                            <a routerLink="/projects-details"
                                >Progressive Web Apps (PWAs)</a
                            >
                        </h3>
                        <p>
                            Among our list of web development trends, the PWA
                            technology comes first. It’s an app that functions
                            as a website with a full-native mobile app
                            experience. It communicates with clients as a native
                            app and runs independently.<br /><br />
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View News Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources2.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Voice Search on Web</a
                        >
                        <h3>
                            <a routerLink="/projects-details">Voice Search</a>
                        </h3>
                        <p>
                            You cannot ignore the trend of voice search. We
                            predict to see its more impacts on the web in the
                            upcoming years. As per the Statista report, the
                            global smart speaker market will reach over 35.5
                            billion U.S. dollars by 2025. The other study
                            suggest that the voice recognition market is
                            expected to reach $27.16 billion by 2026.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View News Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources3.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Web Technologies</a
                        >
                        <h3>
                            <a routerLink="/projects-details">Motion UI</a>
                        </h3>
                        <p>
                            Creative web design is another web development trend
                            this year. Startups always focus more on user
                            experience and invest fewer resources in appearance.
                            However, there are more chance of getting notice by
                            promising users if you have a beautifully designed
                            apps and websites. Hence, visual design has become
                            an effective marketing strategy.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View News Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources4.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category">A.I.</a>
                        <h3>
                            <a routerLink="/projects-details"
                                >Robots learn household tasks by watching
                                humans</a
                            >
                        </h3>
                        <p>
                            Researchers have developed a new learning method for
                            robots called WHIRL, short for In-the-Wild Human
                            Imitating Robot Learning. WHIRL is an efficient
                            algorithm for one-shot visual imitation. It can
                            learn directly from human-interaction videos and
                            generalize that information to new tasks, making
                            robots well-suited to learning household chores.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View News Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape6">
        <img src="assets/img/shape/shape6.png" alt="shape" />
    </div>
    <div class="shape7">
        <img src="assets/img/shape/shape7.png" alt="shape" />
    </div> -->
</div>
