<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Frequently Asked Questions</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape5">
        <img src="assets/img/shape/shape5.png" alt="shape" />
    </div> -->
</div>

<!-- FAQ -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="faq-sidebar">
                    <ul>
                        <li>
                            <a routerLink="/faq" class="active">Help Center</a>
                        </li>
                        <li>
                            <a routerLink="/motherland">Shipping Information</a>
                        </li>
                        <li>
                            <a routerLink="/hobbies">Return Policy</a>
                        </li>
                        <li>
                            <a routerLink="/hobbies">Terms & Conditions</a>
                        </li>
                        <li><a routerLink="/motherland">Privacy Policy</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="faq-accordion accordion">
                    <accordion>
                        <accordion-group
                            heading="What is information security?"
                            [isOpened]="true"
                        >
                            <p>
                                <strong>Lunio</strong> is always looking for
                                talented <a href="#">information</a> security
                                and IT risk management professionals who are
                                dedicated, hard working and looking for a
                                challenge. If you are interested in employment
                                with <strong>Lunio</strong>, a company who
                                values you and your family, visit our careers
                                page.
                            </p>
                            <ul>
                                <li>a console</li>
                                <li>
                                    Two Joy-Con controllers that are detachable
                                </li>
                                <li>
                                    A grip that enables you to combine them into
                                    a single gamepad for play on the TV
                                </li>
                                <li>
                                    Two straps for turning the Joy-Cons into
                                    individual controllers
                                </li>
                                <li>
                                    A dock which you can use to connect your
                                    console to the television for traditional
                                    gameplay
                                </li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="How do I secure my computer?">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo.
                            </p>
                            <ul>
                                <li>a console</li>
                                <li>
                                    Two Joy-Con controllers that are
                                    <a href="#">detachable</a>
                                </li>
                                <li>
                                    A grip that enables you to combine them into
                                    a single gamepad for play on the TV
                                </li>
                                <li>
                                    Two straps for turning the Joy-Cons into
                                    <strong>individual</strong> controllers
                                </li>
                                <li>
                                    A dock which you can use to connect your
                                    console to the television for traditional
                                    gameplay
                                </li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="What is data management?">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor.
                            </p>
                            <p>
                                Tunt aliqua put a bird on it squid single-origin
                                coffee nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo.
                            </p>
                        </accordion-group>
                        <accordion-group
                            heading="How do I protect the data I have?"
                        >
                            <ul>
                                <li>a console</li>
                                <li>
                                    Two Joy-Con controllers that are detachable
                                </li>
                                <li>
                                    A grip that enables you to combine them into
                                    a single gamepad for play on the TV
                                </li>
                                <li>
                                    Two straps for turning the Joy-Cons into
                                    individual controllers
                                </li>
                                <li>
                                    A dock which you can use to connect your
                                    console to the television for traditional
                                    gameplay
                                </li>
                            </ul>
                        </accordion-group>
                        <accordion-group
                            heading="What are my information security responsibilities?"
                        >
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo.
                            </p>
                        </accordion-group>
                        <accordion-group
                            heading="Can I use email to send sensitive information?"
                        >
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo.
                            </p>
                            <ul>
                                <li>a console</li>
                                <li>
                                    Two Joy-Con controllers that are
                                    <a href="#">detachable</a>
                                </li>
                                <li>
                                    A grip that enables you to combine them into
                                    a single gamepad for play on the TV
                                </li>
                                <li>
                                    Two straps for turning the Joy-Cons into
                                    <strong>individual</strong> controllers
                                </li>
                                <li>
                                    A dock which you can use to connect your
                                    console to the television for traditional
                                    gameplay
                                </li>
                            </ul>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>
