<div class="services-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <h2>Here Are Some Of My Project Experiences</h2>
            <p>
                I worked on some programming projects during my studies. Some
                introductions will be displayed below.
            </p>
        </div>
        <div class="services-slides">
            <owl-carousel-o [options]="servicesSlides">
                <ng-template carouselSlide>
                    <div class="single-services-box">
                        <div class="icon">
                            <img
                                src="assets/img/services/services-icon1.png"
                                alt="services-icon"
                            />
                        </div>
                        <h3>
                            <a routerLink="/projects-details">DICOM-Server</a>
                        </h3>
                        <p>
                            Full-stack web application for DICOM servers with
                            A.I. in the diagnosis Research project.
                            <br />Master's thesis: Grade 1.7
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >Read More <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-box">
                        <div class="icon">
                            <img
                                src="assets/img/services/services-icon2.png"
                                alt="services-icon"
                            />
                        </div>
                        <h3>
                            <a routerLink="/projects-details"
                                >Lora-WAN-IoT-Central</a
                            >
                        </h3>
                        <p>
                            Web application for intelligent measuring devices
                            with Lora-WAN and IoT Central, Research project with
                            Wohnungsgesellschaft Köthen mbH.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >Read More <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-box">
                        <div class="icon">
                            <img
                                src="assets/img/services/services-icon3.png"
                                alt="services-icon"
                            />
                        </div>
                        <h3>
                            <a routerLink="/projects-details"
                                >Hadoop-Cluster-Face-Counter</a
                            >
                        </h3>
                        <p>
                            A small Project for Big Data. Face counter using a
                            Hadoop cluster and Map Reduce. Kern function was
                            built with Java and OpenCV.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >Read More <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-box">
                        <div class="icon">
                            <img
                                src="assets/img/services/services-icon4.png"
                                alt="services-icon"
                            />
                        </div>
                        <h3>
                            <a routerLink="/projects-details"
                                >Information-Center-Hochschule</a
                            >
                        </h3>
                        <p>
                            A Team Project focus on Information Web application
                            for university based on microservices with AWS and
                            Docker.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >Read More <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-box">
                        <div class="icon">
                            <img
                                src="assets/img/services/services-icon5.png"
                                alt="services-icon"
                            />
                        </div>
                        <h3>
                            <a routerLink="/projects-details">Project XXX</a>
                        </h3>
                        <p>Coming<br />Soon<br />...</p>
                        <a routerLink="/projects-details" class="link-btn"
                            >Read More <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-box">
                        <div class="icon">
                            <img
                                src="assets/img/services/services-icon6.png"
                                alt="services-icon"
                            />
                        </div>
                        <h3>
                            <a routerLink="/projects-details">Project XXX</a>
                        </h3>
                        <p>Coming<br />Soon<br />...</p>
                        <a routerLink="/projects-details" class="link-btn"
                            >Read More <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="view-more-box">
            <a routerLink="/projects" class="default-btn"
                ><span>View More Details</span></a
            >
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape6">
        <img src="assets/img/shape/shape6.png" alt="shape" />
    </div> -->
</div>
