<div class="web-security-area bg-image2 ptb-100">
    <div class="container">
        <div class="web-security-content">
            <h2>Complete Website Security</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="features-list">
                <li><i class="lni lni-checkmark"></i> Malware Detection Removal</li>
                <li><i class="lni lni-checkmark"></i> Content Delivery Network</li>
                <li><i class="lni lni-checkmark"></i> Managed Web Application</li>
                <li><i class="lni lni-checkmark"></i> 24/7 Cyber Security Support</li>
                <li><i class="lni lni-checkmark"></i> Protection for Data and Networks</li>
                <li><i class="lni lni-checkmark"></i> Refresh Network Security Controls</li>
            </ul>
            <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
        </div>
    </div>
</div>