<div class="funfacts-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-6 col-md-3">
                <!-- <div class="single-funfacts-box">
                    <div class="icon">
                        <img src="assets/img/funfacts/funfacts-icon1.png" alt="funfacts-icon">
                    </div>
                    <h3><span [countUp]="3">00</span><span class="sign">k+</span></h3>
                    <p>Cyber Security Projects</p>
                </div> -->
            </div>
            <div class="col-lg-3 col-sm-3 col-6 col-md-3">
                <!-- <div class="single-funfacts-box">
                    <div class="icon">
                        <img
                            src="assets/img/funfacts/funfacts-icon2.png"
                            alt="funfacts-icon"
                        />
                    </div>
                    <h3><span [countUp]="1575">00</span></h3>
                    <p>Customers Globally</p>
                </div> -->
            </div>
            <div class="col-lg-3 col-sm-3 col-6 col-md-3">
                <!-- <div class="single-funfacts-box">
                    <div class="icon">
                        <img
                            src="assets/img/funfacts/funfacts-icon3.png"
                            alt="funfacts-icon"
                        />
                    </div>
                    <h3>
                        <span [countUp]="250">00</span
                        ><span class="sign">+</span>
                    </h3>
                    <p>Cyber Security Experts</p>
                </div> -->
            </div>
            <div class="col-lg-3 col-sm-3 col-6 col-md-3">
                <!-- <div class="single-funfacts-box">
                    <div class="icon">
                        <img
                            src="assets/img/funfacts/funfacts-icon4.png"
                            alt="funfacts-icon"
                        />
                    </div>
                    <h3>
                        <span [countUp]="150">00</span
                        ><span class="sign">%</span>
                    </h3>
                    <p>Client Retention Rate</p>
                </div> -->
            </div>
        </div>
    </div>
</div>
