<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-12">
            <div class="partner-title">
                <h4>SOME OF MY SKILLS</h4>
            </div>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="partners-list align-items-center">
                <div class="partner-item">
                    <a href="#" target="_blank" class="d-inline-block">
                        <img
                            src="assets/img/partner/partner1.png"
                            alt="partner"
                        />
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" target="_blank" class="d-inline-block">
                        <img
                            src="assets/img/partner/partner2.png"
                            alt="partner"
                        />
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" target="_blank" class="d-inline-block">
                        <img
                            src="assets/img/partner/partner3.png"
                            alt="partner"
                        />
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" target="_blank" class="d-inline-block">
                        <img
                            src="assets/img/partner/partner4.png"
                            alt="partner"
                        />
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" target="_blank" class="d-inline-block">
                        <img
                            src="assets/img/partner/partner5.png"
                            alt="partner"
                        />
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" target="_blank" class="d-inline-block">
                        <img
                            src="assets/img/partner/partner6.png"
                            alt="partner"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
