<div class="feedback-area ptb-100 bg-f5f8ff">
    <div class="container">
        <div class="section-title">
            <h2>Our Trusted Clients Feedback</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
            </p>
        </div>
        <div class="feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user1.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>Jasica Lora <span>- TV Model</span></h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user2.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>James Andy <span>- Librarian</span></h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user3.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Joe Root
                                        <span>- Executive Assistant</span>
                                    </h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user4.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Sarah Taylor <span>- Secretary</span>
                                    </h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-empty"></i>
                                        <i class="lni lni-star-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user5.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Amy Jones
                                        <span>- Software Engineer</span>
                                    </h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user6.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        David Warner <span>- Bookkeeper</span>
                                    </h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box bg-color">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/user7.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Steven Smith
                                        <span>- Sales Manager</span>
                                    </h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <!-- <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape8"><img src="assets/img/shape/shape8.png" alt="shape"></div> -->
</div>
