<div class="banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="banner-content">
                    <h1>We Protect The World's Most Sensitive Data</h1>
                    <p>
                        Maintaining cybersecurity in a constantly evolving
                        threat landscape is a challenge for all organizations.
                        Traditional reactive approaches, in which resources were
                        put toward protecting systems against the biggest known
                        threats.
                    </p>
                    <form>
                        <input
                            type="text"
                            placeholder="Enter your email"
                            class="input-newsletter"
                        />
                        <button type="submit" class="default-btn">
                            <span>Get A Free Quote</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="banner-image">
                    <img
                        src="assets/img/banner/banner2.jpg"
                        alt="banner-image"
                    />
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div>
    <div class="shape12"><img src="assets/img/shape/shape3.png" alt="shape"></div> -->
</div>
