<div class="services-area ptb-100 bg-f5f8ff">
    <div class="container">
        <div class="section-title">
            <h2>We Offer Professional Security Solutions</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-box bg1">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon1.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Application Security</a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box bg2">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon2.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Cloud Security</a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box bg3">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon3.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details"
                            >Infrastructure Security</a
                        >
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box bg4">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon4.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3><a routerLink="/news-details">Threat Hunter</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box bg5">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon5.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Disaster Planning</a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box bg6">
                    <div class="icon">
                        <img
                            src="assets/img/services/services-icon6.png"
                            alt="services-icon"
                        />
                    </div>
                    <h3>
                        <a routerLink="/news-details">Incident Responder</a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris.
                    </p>
                    <a routerLink="/news-details" class="link-btn"
                        >Read More <i class="lni lni-chevron-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="view-more-box">
                    <a routerLink="/news" class="default-btn"
                        ><span>View More Services</span></a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape6">
        <img src="assets/img/shape/shape6.png" alt="shape" />
    </div>
    <div class="shape11">
        <img src="assets/img/shape/shape11.png" alt="shape" />
    </div> -->
</div>
