<!-- Project Details -->
<div class="case-studies-details-area ptb-100">
    <div class="container">
        <div
            class="case-studies-details-header row align-items-center justify-content-center"
        >
            <div class="col-lg-6 col-md-12">
                <div class="image">
                    <img
                        src="assets/img/resources/dicom-homepage.jpg"
                        alt="resources-image"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="content">
                    <h1>DICOM-Server</h1>
                    <p>From 03.2021 to 07.2021</p>
                    <ul class="meta">
                        <li>
                            <i class="lni lni-folder"></i>
                            <span> TECH-STACK</span>
                            <a href="#" target="_blank">Vue.JS</a>
                        </li>
                        <li>
                            <i class="lni lni-tag"></i>
                            <span>DATABASE</span>
                            <a routerLink="/projects">MongoDB</a>
                        </li>
                        <li>
                            <i class="lni lni-chrome"></i>
                            <span>LINK</span>
                            <a href="#" target="_blank">www.example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="case-studies-details-desc">
            <div class="article-content">
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>Abstract</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>
                                Development of a web-based database system for
                                medical image information
                            </h3>
                            <p>
                                The aim of this master thesis is it to create a
                                web-based database system for medical image
                                information. With the web application the DICOM
                                file can be processed and exchanged fpr medical
                                diagnosis. In advance, an AI application for
                                processing DICOM images was developed and the
                                image data was transferred to the web
                                application via API. Then the image data is
                                transferred to the web application via API. Web
                                application technologies allow recording of
                                medical image data and interaction between
                                doctor and patient in order to exchange
                                diagnosis and process medical images. This web
                                application contains three step positions for
                                administrators, doctors and patients. A DICOM
                                viewer is also used in the web application.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>The Solution</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>Central Questions</h3>
                            <p>
                                These quality requirements are the basis for
                                building a medical image processing system. The
                                patient information is always transmitted or
                                displayed together with image data. In addition,
                                the images belonging to the same patient are
                                combined in one DICOM archive. This means that
                                the DICOM archive is very large because of the
                                numerous and large images
                            </p>
                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img
                                            src="assets/img/resources/dicom-diagramm.jpg"
                                            alt="image"
                                        />
                                    </figure>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Development of a full-stack web application
                                    for accepting and issuing the original and
                                    created by A.I. detected X-ray images
                                </li>
                                <li>
                                    Creation of a database with MongoDB for
                                    medical images
                                </li>
                                <li>
                                    Structure of a DICOM viewer for displaying
                                    the DICOM archives
                                </li>
                                <li>
                                    Handling the transfer of large files between
                                    server and web application through
                                    compression, lazy loading and paging
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>The Result</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>Note - 1.7</h3>
                            <p>
                                With regard to this final project, the
                                requirements were essentially met. A few issues
                                arose during the completion process. However,
                                after careful study and review of relevant
                                article, the issue was resolved. The main points
                                of this work are medical image processing,
                                digital image processing, website creation, data
                                transfer, database construction and image data
                                compression. After some comparisons, Node.js and
                                MongoDB were finally chosen as the basis of the
                                website. In addition, the comfortable Vue.js was
                                chosen as the frontend page framework. Based on
                                this, the medical image processing website
                                including frontend, backend and database was
                                created.
                            </p>
                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img
                                            src="assets/img/resources/dicom-login.jpg"
                                            alt="image"
                                        />
                                    </figure>
                                </li>
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img
                                            src="assets/img/resources/dicom-viewer.png"
                                            alt="image"
                                        />
                                    </figure>
                                </li>
                            </ul>
                            <p>
                                Ohif and Cornerstone.js were compared on the
                                medical image display. Compared to the more
                                complex and mature Ohif framework,
                                Cornerstone.js is more suitable for this project
                                because it is lightweight and easy to implement
                                and its features met the needs of our project.
                                So Ohif was not used because it is more complex
                                and expensive to research. There was a problem
                                with image data transfer because the data volume
                                was too large, which caused the server to run
                                slowly. After measuring the image display
                                quality, it was decided to convert the DCM image
                                to JEPG2000 or PNG format, transfer it and
                                display it. However, the website also retains
                                the ability to accept and display images in DCM
                                format. Once a suitable high-speed server is
                                used, these functions can also be accessed.
                            </p>
                            <p>
                                After all issues are resolved, the website
                                application runs as desired. All functions
                                basically meet the specified requirements. Some
                                imperfections are improved step by step. In
                                general, the progress of the project can be
                                rated as positive. Finally, this thesis project
                                solidified my knowledge of web development and
                                learned many theories of medical imaging. It
                                provides good support for my future study or
                                work.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="article-tags">
                    <a routerLink="/projects">#Master's Thesis</a>
                    <a routerLink="/projects">#Web Application</a>
                    <a routerLink="/projects">#Vue.JS</a>
                    <a routerLink="/projects">#Medical Theme</a>
                    <a routerLink="/projects">#MongoDB</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Resources
<div class="resources-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Related Project</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources1.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >White Paper</a
                        >
                        <h3>
                            <a routerLink="/projects-details"
                                >Cyber Security Protects Sensitive Data</a
                            >
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Case Studie Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources2.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category">Data</a>
                        <h3>
                            <a routerLink="/projects-details"
                                >The Road To Recovery After A Cyber Data
                                Hijack</a
                            >
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit.
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Case Studie Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
