<div class="security-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="bg-image1">
                    <img src="assets/img/web-bg4.jpg" alt="security-bg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="security-content">
                    <div class="content">
                        <h2>Languages/Sprache/语言</h2>
                        <!-- <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.
                        </p> -->
                        <ul class="features-list">
                            <li>English/Englisch/英语 :</li>
                            <li>B2 Level/CET 4</li>
                            <li>Germany/Deutsch/德语 :</li>
                            <li>C1 Level/DSH 2</li>
                            <li>Chinese/Chinesisch/中文 :</li>
                            <li>Native Language</li>
                        </ul>
                        <!-- <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div> -->
                        <div class="shape2">
                            <img
                                src="assets/img/shape/shape2.png"
                                alt="shape"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
