<div class="operation-center-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="operation-center-image">
                    <img
                        src="assets/img/operation-center.jpg"
                        alt="operation-center-image"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="operation-center-content">
                    <h2>What have I learned?</h2>
                    <p>
                        After my graduation from university, I am working for
                        Scheer PAS GmbH as a PAS Consultant.
                    </p>
                    <ul class="features-list">
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i> Web
                                Development</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i> Frontend and
                                Backend</span
                            >
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> HTML5</span>
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i>
                                Javascript</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i>
                                SCSS/CSS3</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i> Node.JS</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i>
                                MongoDB/MySQL/DB2</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i>
                                Vue.JS/Angular.JS</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i>
                                Hadoop/MapReduce</span
                            >
                        </li>
                        <li>
                            <span
                                ><i class="lni lni-checkmark"></i>
                                Docker/AWS/Microservices</span
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape6">
        <img src="assets/img/shape/shape6.png" alt="shape" />
    </div> -->
</div>
