<div class="about-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image bg-image2">
                    <img src="assets/img/about/about2.jpg" alt="about-image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Our Approaches To Cyber Security</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <ul class="features-list">
                        <li>
                            <img src="assets/img/about/icon1.png" alt="icon" />
                            <h3>Increased and evolving threat</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon2.png" alt="icon" />
                            <h3>Widening attack surface</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon3.png" alt="icon" />
                            <h3>Structural weaknesses</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div> -->
</div>
