<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>My Skills</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>My Skills</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div> -->
</div>

<!-- Team -->
<div class="team-area pt-100 pb-75 bg-f5f8ff">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill1.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Major <span> Digital Media Technology</span></h3>
                        <p>
                            Major of Bachelor and Master Degree: Digital Media
                            Technology
                        </p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill2.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Web <span>Developer</span></h3>
                        <p>
                            Focus on Front-End and Back-End both, for Example:
                            HTML5 | SCSS | JS | Node.JS
                        </p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill5.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Database <span>Developer</span></h3>
                        <p>
                            Learned about multiple databases: DB2 | MongoDB |
                            MySQL
                        </p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill3.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Microservice <span>Architecture</span></h3>
                        <p>Technologies: Docker | RESTFul API | Kubernetes</p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill4.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Big Data <span>Developer</span></h3>
                        <p>Technologies: Hadoop - MapReduce | NoSQL | AWS</p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/skill6.jpg" alt="team-member" />
                    <div class="content">
                        <h3>Web <span>New Architecture</span></h3>
                        <p>Technologies: Vue.JS | Angular.JS</p>
                        <ul class="social-links">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-facebook-filled"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-twitter-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-instagram-original"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="lni lni-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>

<!-- Partner -->
<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>
