<div class="widget widget_search">
    <form class="search-form">
        <input type="search" class="search-field" placeholder="Search..." />
        <button type="submit"><i class="lni lni-search-alt"></i></button>
    </form>
</div>
<div class="widget widget_author">
    <img src="assets/img/motherland/china-flag.jpg" alt="author" />
    <h3>China</h3>
    <span>My Motherland</span>
</div>
<div class="widget widget_follow_us">
    <h3 class="widget-title"><span>Follow Me</span></h3>
    <ul>
        <li><a href="#" target="_blank">Facebook</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">Instagram</a></li>
        <li><a href="#" target="_blank">Pinterest</a></li>
        <li><a href="#" target="_blank">Linkedin</a></li>
    </ul>
</div>
<div class="widget widget_lunio_posts_thumb">
    <h3 class="widget-title"><span>Popular Posts</span></h3>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog1.jpg" alt="blog-image" />
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details"
                    >Being the best-selling smart phone this year</a
                >
            </h4>
            <span class="date">Jan 15, 2020</span>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog2.jpg" alt="blog-image" />
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details"
                    >Love songs helped me through heartbreak</a
                >
            </h4>
            <span class="date">Jan 14, 2020</span>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog3.jpg" alt="blog-image" />
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details"
                    >Two fashion designers busy with 2020 winter fashion</a
                >
            </h4>
            <span class="date">Jan 13, 2020</span>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog4.jpg" alt="blog-image" />
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details"
                    >Working in the office is a tradition for women</a
                >
            </h4>
            <span class="date">Jan 12, 2020</span>
        </div>
    </article>
</div>
<div class="widget widget_categories">
    <h3 class="widget-title"><span>Categories</span></h3>
    <ul>
        <li><a routerLink="/blog-left-sidebar">Business</a></li>
        <li><a routerLink="/blog-left-sidebar">Privacy</a></li>
        <li><a routerLink="/blog-left-sidebar">Technology</a></li>
        <li><a routerLink="/blog-left-sidebar">Tips</a></li>
        <li><a routerLink="/blog-left-sidebar">Log in</a></li>
        <li><a routerLink="/blog-left-sidebar">Uncategorized</a></li>
    </ul>
</div>
<div class="widget widget_tag_cloud">
    <h3 class="widget-title"><span>Tags</span></h3>
    <div class="tagcloud">
        <a routerLink="/blog-left-sidebar">Advertisment</a>
        <a routerLink="/blog-left-sidebar">Business</a>
        <a routerLink="/blog-left-sidebar">Life</a>
        <a routerLink="/blog-left-sidebar">Lifestyle</a>
        <a routerLink="/blog-left-sidebar">Fashion</a>
        <a routerLink="/blog-left-sidebar">Ads</a>
        <a routerLink="/blog-left-sidebar">Advertisment</a>
        <a routerLink="/blog-left-sidebar">Business</a>
    </div>
</div>
