<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Projects</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Projects</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape5">
        <img src="assets/img/shape/shape5.png" alt="shape" />
    </div> -->
</div>

<!-- Resources -->
<div class="resources-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/dicom2.png"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Master's Thesis</a
                        >
                        <h3>
                            <a routerLink="/projects-details">DICOM-Server</a>
                        </h3>
                        <p>
                            Full-stack web application for DICOM servers with
                            A.I. in the diagnosis Research project.
                        </p>
                        <p>
                            Tech-Stack : Vue.js + Koa + MongoDB + Pug + npm +
                            Less/CSS3 + Element-ui + Cornerstone.js + Webpack +
                            PM2
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Project Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/lorawan.png"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Cooperation Project</a
                        >
                        <h3>
                            <a routerLink="/projects-details"
                                >Lora-WAN-IoT-Central</a
                            >
                        </h3>
                        <p>
                            Web application for intelligent measuring devices
                            with Lora-WAN and IoT Central, Research project with
                            Wohnungsgesellschaft Köthen mbH.
                        </p>
                        <p>
                            Tech-Stack : Node.js + EJS + MongoDB + npm +
                            Scss/CSS3 + Docker + LoraWAN + Echarts.js + PM2
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Project Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/microservice.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Course Design</a
                        >
                        <h3>
                            <a routerLink="/projects-details"
                                >Information-Center-Hochschule</a
                            >
                        </h3>
                        <p>
                            A Team Project focus on Information Web application
                            for university based on microservices with AWS and
                            Docker.
                        </p>
                        <p>
                            Tech-Stack : HTML5 + CSS3 + Javascript + Node.js
                            +MongoDB + AWS + Docker + Kubernetes
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Project Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/facecounter.jfif"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >Course Design</a
                        >
                        <h3>
                            <a routerLink="/projects-details"
                                >Hadoop-Cluster-Face-Counter</a
                            >
                        </h3>
                        <p>
                            A small Project for Big Data. Face counter using a
                            Hadoop cluster and Map Reduce. Kern function was
                            built with Java and OpenCV.
                        </p>
                        <p>
                            Tech-Stack : Java + OpenCV + Hadoop-Mapreduce + Yarn
                        </p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Project Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources1.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >More Projects</a
                        >
                        <h3>
                            <a routerLink="/projects-details">Coming Soon</a>
                        </h3>
                        <p>Still in Development</p>
                        <p>Tech-Stack : xxx + xxx + xxxxx + xxxxx</p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Project Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-resources-box">
                    <div class="image">
                        <a routerLink="/projects-details" class="d-block">
                            <img
                                src="assets/img/resources/resources2.jpg"
                                alt="resources-image"
                            />
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/projects" class="category"
                            >More Projects</a
                        >
                        <h3>
                            <a routerLink="/projects-details">Coming Soon</a>
                        </h3>
                        <p>Still in Development</p>
                        <p>Tech-Stack : xxx + xxx + xxxxx + xxxxx</p>
                        <a routerLink="/projects-details" class="link-btn"
                            >View Project Details
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a
                            routerLink="/projects"
                            class="previous page-numbers"
                            title="Next Page"
                            ><i class="lni lni-angle-double-left"></i
                        ></a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/projects" class="page-numbers">2</a>
                        <a routerLink="/projects" class="page-numbers">3</a>
                        <a
                            routerLink="/projects"
                            class="next page-numbers"
                            title="Next Page"
                            ><i class="lni lni-angle-double-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>

<!-- Partner -->
<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>
