<div class="feedback-area ptb-100 bg-f5f8ff">
    <div class="container">
        <div class="section-title">
            <h2>My lovely Cats</h2>
            <p>
                I currently have six lovely Birman cats: Papa, Mama and four
                little Princesses. They are all my dear Family Members and I
                will introduce them to you below.
            </p>
        </div>
        <div class="feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats6.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>Oreo <span>- Papa</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats1.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>Lisa <span>- Mama</span></h3>
                                    <!-- <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-empty"></i>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats3.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Lilia
                                        <span>- 1st Princess</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats4.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>Lunar <span>- 2nd Princess</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats5.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Lancy
                                        <span>- 3rd Princess</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats2.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>Lucky <span>- 4th Princess</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Minim veniam, quis nostrud ullamco laboris
                            nisi ut aliquip ex ea commodo consequat adipiscing.
                        </p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img
                                    src="assets/img/user/cats7.jpg"
                                    alt="author"
                                />
                                <div class="title">
                                    <h3>
                                        Maybe more
                                        <span
                                            >- Coming Soon<i
                                                class="lni lni-friendly"
                                            ></i
                                        ></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <!-- <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape8">
        <img src="assets/img/shape/shape8.png" alt="shape" />
    </div> -->
</div>
