<div class="main-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="main-banner-content">
                    <h1>World's Leading Cyber Security Company</h1>
                    <p>
                        Maintaining cybersecurity in a constantly evolving
                        threat landscape is a challenge for all organizations.
                        Traditional reactive approaches, in which resources were
                        put toward protecting systems against the biggest known
                        threats.
                    </p>
                    <div class="btn-box d-flex align-items-center">
                        <a routerLink="/contact" class="default-btn"
                            ><span>Get Started Now</span></a
                        >
                        <a routerLink="/about" class="link-btn"
                            >Know More About Us
                            <i class="lni lni-chevron-right"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="main-banner-image">
                    <img
                        src="assets/img/banner/banner1.png"
                        alt="banner-image"
                    />
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape5">
        <img src="assets/img/shape/shape5.png" alt="shape" />
    </div> -->
</div>
