<!-- Project Details -->
<div class="case-studies-details-area ptb-100">
    <div class="container">
        <div
            class="case-studies-details-header row align-items-center justify-content-center"
        >
            <div class="col-lg-6 col-md-12">
                <div class="image">
                    <img
                        src="assets/img/resources/resources1.jpg"
                        alt="resources-image"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="content">
                    <h1>Hadoop-Cluster-Face-Counter</h1>
                    <p>
                        A small Project for Big Data. Face counter using a
                        Hadoop cluster and Map Reduce. Kern function was built
                        with Java and OpenCV.
                    </p>
                    <ul class="meta">
                        <li>
                            <i class="lni lni-folder"></i>
                            <span>TECH-STACK</span>
                            <a href="#" target="_blank">Java/OpenCV</a>
                        </li>
                        <li>
                            <i class="lni lni-tag"></i>
                            <span>Bigdata</span>
                            <a routerLink="/projects">Hadoop</a>
                        </li>
                        <li>
                            <i class="lni lni-chrome"></i>
                            <span>LINK</span>
                            <a href="#" target="_blank">www.example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="case-studies-details-desc">
            <div class="article-content">
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>The Challenge</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>...</h3>
                            <p>...</p>
                            <ul>
                                <li>...</li>
                                <li>...</li>
                                <li>...</li>
                                <li>...</li>
                                <li>...</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>The Solution</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>...</h3>
                            <p>...</p>
                            <blockquote class="wp-block-quote">
                                <p>...</p>
                                <cite>...</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>The Result</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>...</h3>
                            <p>...</p>
                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img
                                            src="assets/img/resources/resources2.jpg"
                                            alt="image"
                                        />
                                    </figure>
                                </li>
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img
                                            src="assets/img/resources/resources3.jpg"
                                            alt="image"
                                        />
                                    </figure>
                                </li>
                            </ul>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="article-tags">
                    <a routerLink="/projects">#Java</a>
                    <a routerLink="/projects">#OpenCV</a>
                    <a routerLink="/projects">#Yarn</a>
                    <a routerLink="/projects">#Hadoop</a>
                </div>
            </div>
        </div>
    </div>
</div>
