<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/img/logo.png" alt="logo" />
                    </a>
                    <ul class="social-links">
                        <li>
                            <a
                                href="#"
                                target="_blank"
                                style="margin-left: 25px"
                                ><i class="lni lni-linkedin-original"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="lni lni-github-original"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="lni lni-instagram-original"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="lni lni-steam"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>About Me</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/about">My Infos</a></li>
                        <li>
                            <a routerLink="/projects">My Projects</a>
                        </li>
                        <li><a routerLink="/blog-right-sidebar">My Cats</a></li>
                        <li><a routerLink="/hobbies">My Hobbies</a></li>
                        <li>
                            <a routerLink="/blog-left-sidebar">My Motherland</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Studies</h3>
                    <ul class="custom-links">
                        <li>
                            <a routerLink="/projects">Project</a>
                        </li>
                        <li>
                            <a routerLink="/projects-details">1st Project</a>
                        </li>
                        <li>
                            <a routerLink="/projects-details">2nd Project</a>
                        </li>
                        <li>
                            <a routerLink="/projects-details">3rd Project</a>
                        </li>
                        <li>
                            <a routerLink="/projects-details">4th Project</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/news">Hobbys</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                        <li><a routerLink="/faq">FAQ</a></li>
                        <li><a routerLink="/blog-grid">Blog</a></li>
                        <li><a routerLink="/news-details">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Contact Me</h3>
                    <ul class="footer-contact-info">
                        <li>
                            <span>Address</span>
                            XXXXX My Address My Address, Stuttgart
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:hello@lunio.com">hello@world.com</a>
                        </li>
                        <li>
                            <span>Phone:</span>
                            <a href="tel:+1-485-456-xxxx">+49-176-1234-1234</a>
                        </li>
                        <li>
                            <span>Fax:</span>
                            <a href="tel:+1-0785457xxxx">+49-176-1234-1234</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>
                © WINTER IS COMING Owned by
                <a href="https://envythemexxxxxx.com/" target="_blank"
                    >Wentao</a
                >
            </p>
        </div>
    </div>
    <!-- <div class="shape4">
        <img
            src="assets/img/shape/shape-logo.png"
            alt="shape"
            style="width: 20%"
        />
    </div> -->
</footer>
