<div class="banner-area">
    <div class="container-fluid">
        <div class="home-slides">
            <owl-carousel-o [options]="homeSlides">
                <ng-template carouselSlide>
                    <div class="banner-item">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-md-12">
                                <div class="banner-content">
                                    <h1>Here is Wentao</h1>
                                    <p>
                                        You can also call me Winter. I am a
                                        programmer dedicated to web development.
                                        Both front-end and back-end programming
                                        are my main learning direction.
                                    </p>
                                    <div
                                        class="btn-box d-flex align-items-center"
                                    >
                                        <a
                                            routerLink="/contact"
                                            class="default-btn"
                                            ><span>Contact Me Now</span></a
                                        >
                                        <a routerLink="/about" class="link-btn"
                                            >Know More About Me
                                            <i class="lni lni-chevron-right"></i
                                        ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12">
                                <div class="banner-image">
                                    <img
                                        src="assets/img/banner/banner5.jpg"
                                        alt="banner-image"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-item">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-md-12">
                                <div class="banner-content">
                                    <h1>
                                        I am also from China and now live in
                                        Germany
                                    </h1>
                                    <p>
                                        If you are interested in all aspects of
                                        China or Germany, you can contact me. Of
                                        course, I'm also a "Papa", because I
                                        have 6 cats. There are pictures of these
                                        lovely kids on my blog.
                                    </p>
                                    <div
                                        class="btn-box d-flex align-items-center"
                                    >
                                        <a
                                            routerLink="/contact"
                                            class="default-btn"
                                            ><span>Contact Me Now</span></a
                                        >
                                        <a routerLink="/about" class="link-btn"
                                            >Know More About Me
                                            <i class="lni lni-chevron-right"></i
                                        ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12">
                                <div class="banner-image">
                                    <img
                                        src="assets/img/banner/banner8.jpg"
                                        alt="banner-image"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape3">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape5">
        <img src="assets/img/shape/shape5.png" alt="shape" />
    </div>
    <div class="shape12">
        <img src="assets/img/shape/shape3.png" alt="shape" />
    </div> -->
</div>
