<div class="approach-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>My Learning Experience</h2>
            <p>
                Bachelor in China | Master in Germany | Now working in Germany
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-approach-box">
                    <div class="icon">
                        <img src="assets/img/about/icon1.png" alt="icon" />
                    </div>
                    <h3>University Jiangnan</h3>
                    <p>B.Sc. in Digitale Medientechnologien</p>
                    <p>Note - 2.5</p>
                    <p>09.2010 - 07.2014 in Wuxi, China</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-approach-box">
                    <div class="icon">
                        <img src="assets/img/about/icon2.png" alt="icon" />
                    </div>
                    <h3>Hochschule Stralsund</h3>
                    <p>M.Sc. in Informatik</p>
                    <p>Schwerpunkt - Softwareentwicklung</p>
                    <p>03.2017 - 09.2019 in Stralsund</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-approach-box">
                    <div class="icon">
                        <img src="assets/img/about/icon3.png" alt="icon" />
                    </div>
                    <h3>Hochschule Anhalt</h3>
                    <p>M.Sc. in Digitale Medientechnologien</p>
                    <p>Note - 2.3</p>
                    <p>03.2020 - 09.2021 in Köthen</p>
                </div>
            </div>
        </div>
    </div>
</div>
