<app-homefour-banner></app-homefour-banner>

<div class="partner-area pt-100">
    <app-valuable-clients></app-valuable-clients>
</div>

<app-features></app-features>

<app-homefour-about></app-homefour-about>

<!-- <app-funfacts></app-funfacts> -->

<app-services-style-one></app-services-style-one>

<app-web-security-style-one></app-web-security-style-one>

<app-resources-style-two></app-resources-style-two>

<app-feedback-style-one></app-feedback-style-one>

<app-blog></app-blog>

<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>
