<app-hometwo-banner></app-hometwo-banner>

<app-funfacts></app-funfacts>

<app-hometwo-about></app-hometwo-about>

<app-services-style-two></app-services-style-two>

<app-web-security-style-two></app-web-security-style-two>

<app-resources-style-one></app-resources-style-one>

<app-feedback-style-two></app-feedback-style-two>

<app-blog></app-blog>

<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>

<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>