<app-homeone-banner></app-homeone-banner>

<app-features></app-features>

<app-homeone-about></app-homeone-about>

<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>

<app-services-style-one></app-services-style-one>

<app-web-security-style-one></app-web-security-style-one>

<app-resources-style-one></app-resources-style-one>

<app-feedback-style-one></app-feedback-style-one>

<app-blog></app-blog>

<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>