<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Contact Us</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1">
        <img src="assets/img/shape/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="assets/img/shape/shape2.png" alt="shape" />
    </div>
    <div class="shape4">
        <img src="assets/img/shape/shape4.png" alt="shape" />
    </div>
    <div class="shape5">
        <img src="assets/img/shape/shape5.png" alt="shape" />
    </div> -->
</div>

<!-- Contact -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Send Me a Message</h2>
            <p>Contact me if you have any questions for me.</p>
        </div>
        <div class="row m-0">
            <div class="col-lg-8 col-md-12 p-0">
                <div class="contact-form">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Message...</label>
                                    <textarea
                                        class="form-control"
                                        cols="30"
                                        rows="4"
                                        required
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-check">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        id="checkme"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="checkme"
                                    >
                                        Accept
                                        <a routerLink="/hobbies"
                                            >Terms of Services</a
                                        >
                                        and
                                        <a routerLink="/motherland"
                                            >Privacy Policy</a
                                        >
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button type="submit" class="default-btn">
                                    <span>Send Message</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 p-0">
                <div class="contact-info">
                    <h3>Contact Information</h3>
                    <ul class="info">
                        <li>
                            <i class="lni lni-map-marker"></i>
                            XXXXX 00, 00000 Stuttgart
                        </li>
                        <li>
                            <i class="lni lni-phone"></i>
                            <a href="tel:+1234567898">(+123) 456-7898</a>
                        </li>
                        <li>
                            <i class="lni lni-envelope"></i>
                            <a href="mailto:hello@lunio.com">hello@world.com</a>
                        </li>
                    </ul>
                    <h3>Follow Me</h3>
                    <ul class="social-links">
                        <li><a href="#" target="_blank">Facebook</a></li>
                        <li><a href="#" target="_blank">Twitter</a></li>
                        <li><a href="#" target="_blank">Instagram</a></li>
                        <li><a href="#" target="_blank">Pinterest</a></li>
                        <li><a href="#" target="_blank">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>

<!-- Partner -->
<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>
