<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Clients Feedback</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Feedback</li>
            </ul>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div> -->
</div>

<!-- Feedback -->
<div class="feedback-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-feedback-box bg-f9f9f9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Minim veniam, quis nostrud ullamco laboris nisi
                        ut aliquip ex ea commodo consequat adipiscing.
                    </p>
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="author" />
                            <div class="title">
                                <h3>Jasica Lora <span>- TV Model</span></h3>
                                <div class="rating">
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-feedback-box bg-f9f9f9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Minim veniam, quis nostrud ullamco laboris nisi
                        ut aliquip ex ea commodo consequat adipiscing.
                    </p>
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/user/user2.jpg" alt="author" />
                            <div class="title">
                                <h3>James Andy <span>- Librarian</span></h3>
                                <div class="rating">
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-feedback-box bg-f9f9f9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Minim veniam, quis nostrud ullamco laboris nisi
                        ut aliquip ex ea commodo consequat adipiscing.
                    </p>
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/user/user3.jpg" alt="author" />
                            <div class="title">
                                <h3>
                                    Joe Root <span>- Executive Assistant</span>
                                </h3>
                                <div class="rating">
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-half"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-feedback-box bg-f9f9f9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Minim veniam, quis nostrud ullamco laboris nisi
                        ut aliquip ex ea commodo consequat adipiscing.
                    </p>
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/user/user4.jpg" alt="author" />
                            <div class="title">
                                <h3>Sarah Taylor <span>- Secretary</span></h3>
                                <div class="rating">
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-empty"></i>
                                    <i class="lni lni-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-feedback-box bg-f9f9f9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Minim veniam, quis nostrud ullamco laboris nisi
                        ut aliquip ex ea commodo consequat adipiscing.
                    </p>
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/user/user5.jpg" alt="author" />
                            <div class="title">
                                <h3>
                                    Amy Jones <span>- Software Engineer</span>
                                </h3>
                                <div class="rating">
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-feedback-box bg-f9f9f9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Minim veniam, quis nostrud ullamco laboris nisi
                        ut aliquip ex ea commodo consequat adipiscing.
                    </p>
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/user/user7.jpg" alt="author" />
                            <div class="title">
                                <h3>
                                    Steven Smith <span>- Sales Manager</span>
                                </h3>
                                <div class="rating">
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>

<!-- Partner -->
<div class="partner-area pb-100">
    <app-valuable-clients></app-valuable-clients>
</div>
